<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3" style="cursor: pointer;" (click)="changeDashboard('palpite')">
      <div class="card text-white mat-elevation-z8" style="background-color: #2eadd3;">
        <div class="card-body pb-0">
          <div class="text-value">Meus Palpites (Copa do Mundo)</div>
          <div>{{palpitesRegistrados}} de {{palpitesEsperados}} palpites registrados!</div>
          <br>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3" style="cursor: pointer;" (click)="changeDashboard('bolao')">
      <div class="card text-white mat-elevation-z8" style="background-color: #FF6347;">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">Meus Bolões</div>
          <div>Participar | Classificação | Regulamento </div>
          <br>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">9.823</div>
          <div>Members online</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">9.823</div>
          <div>Members online</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card" style="background-color: {{cor}}">
    <div class="card-body mat-elevation-z8">
      <div class="animated fadeIn" *ngIf="dashboard == 'palpite'">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="form">
					  	<mat-tab-group #tabGrupo color="accent" backgroundColor="primary">
						  	<mat-tab *ngFor="let rodada of rodadaTabList; let i = index" label="{{rodada.descricao}}" #tab [disabled]="!tab.isActive"> <!-- [disabled]="!tab01.isActive" -->
						  		<form #formRodada="ngForm">
							  		<div style="margin-top: 10px; width: 100%;"> 
										<div *ngFor = "let confronto of confrontoList; let j = index">
											<ng-container *ngIf = "confronto.rodada.descricao === rodada.descricao">
												<div style="width: 250px; text-align: center; display: inline-block; float: left; margin-bottom: 10px; margin-left: 5px;" class="mat-elevation-z8">
													<span style="font-weight: bold;">{{confronto.rodada.grupo.nome}}</span>
													<p style="font-weight: bold; background-color: #FAFAD2;">{{confronto.dataHora | date: 'EEEE, dd/MM/yyyy HH:mm'}}</p>
													<div>
														<span>{{confronto.adversarioCasa.sigla}}</span>
														<i style="margin-left: 5px; cursor: help;" class="flag-icon {{confronto.adversarioCasa.bandeira}} h3" title="{{confronto.adversarioCasa.nome}}"></i>										

														<input required="required" type="number" name="placarCasa{{j + 1}}" [(ngModel)]="confronto.palpiteList[0].placarCasa" oninput="this.value = this.value.slice(0, this.maxLength)" maxlength="1" style="width: 25px; margin-left: 5px;">
														<span style="margin-left: 5px;">X</span>
														<input required="required" type="number" name="placarFora{{j + 1}}" [(ngModel)]="confronto.palpiteList[0].placarFora" oninput="this.value = this.value.slice(0, this.maxLength)" maxlength="1" style="width: 25px; margin-left: 5px;">

														<i style="margin-left: 5px; cursor: help;" class="flag-icon {{confronto.adversarioFora.bandeira}} h3" title="{{confronto.adversarioFora.nome}}"></i>
														<span style="margin-left: 5px;">{{confronto.adversarioFora.sigla}}</span>
													</div>
													<br>
												</div>
											</ng-container>
									 	</div>
									</div>
									<div class="buttons" style="display: inline-block;">
										<br>
										<button (click)="goTabClick(tabGrupo)" *ngIf="rodadaTabList.length != (i + 1)" [disabled]="!formRodada.form.valid" style="margin-left: 7px; margin-bottom: 10px;" mat-raised-button color="primary">Avançar</button>
										<button (click)="salvar()" *ngIf="rodadaTabList.length == (i + 1)" [disabled]="!formRodada.form.valid" mat-raised-button color="primary" style="margin-left: 7px; margin-bottom: 10px;">{{state == 'cadastrar' ? 'Salvar' : 'Atualizar'}}</button>
										<button (click)="backTabClick(tabGrupo)" *ngIf="(i > 0)" mat-raised-button color="warn"  style="margin-bottom: 10px;">Voltar</button>
								  	</div>
								</form>
						  	</mat-tab>
						</mat-tab-group>
					</div>
				</div>
			</div>
			<!--/.col-->
		  </div>
	  </div>
	
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Visits</div>
          <strong>29.703 Users (40%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Unique</div>
          <strong>24.093 Users (20%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Pageviews</div>
          <strong>78.706 Views (60%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">New Users</div>
          <strong>22.123 Users (80%)</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Bounce Rate</div>
          <strong>40.15%</strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
