<div class="animated fadeIn mat-elevation-z8">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<mat-toolbar> 
					<mat-toolbar-row> 
						<mat-icon>menu</mat-icon>
						<span>Funções</span>
						<span class="spacer"></span>
					</mat-toolbar-row>
				</mat-toolbar>

				<div class="mat-elevation-z8 mt-3" style="position: relative;">
					<div *ngIf="isLoading" class="spinner">
	  					<mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
					</div>
				</div>	

				<div [hidden]="isLoading">

					<div>
						<div class="cabecalho-pesquisa">
							<mat-form-field appearance="standard">
								<mat-icon style="position: absolute; margin-top: -3px;">search</mat-icon>
								<mat-label style="margin-left: 25px;">Pesquisar</mat-label>
								<input style="margin-left: 25px;" matInput (keyup)="applyFilter($event)" placeholder="nome, descrição" #input>
							</mat-form-field>
						</div>
						<div class="cabecalho-pesquisa">
							<button (click)="cadastrar()" class="mat-elevation-z8 botao-cabecalho" mat-raised-button color="primary">Cadastrar Função</button>
						</div>
					</div>
					
					<table mat-table [dataSource]="dataSource">
	
						<ng-container matColumnDef="nome">
							<th mat-header-cell *matHeaderCellDef>Nome</th>
							<td mat-cell *matCellDef="let funcao">{{funcao.nome}}</td>
						</ng-container>
	
						<ng-container matColumnDef="descricao">
							<th mat-header-cell *matHeaderCellDef>Descrição</th>
							<td mat-cell *matCellDef="let funcao">{{funcao.descricao}}</td>
						</ng-container>
	
						<ng-container matColumnDef="acoes">
							<th class="align-center" mat-header-cell *matHeaderCellDef>Ações</th>
							<td class="align-center" mat-cell *matCellDef="let funcao">
								<div class="actions">
									<button (click)="editar(funcao.id)" mat-mini-fab color="accent">
										<mat-icon>edit</mat-icon>
									</button>
									<button (click)="deletar(funcao.id)" mat-mini-fab color="warn">
										<mat-icon>delete</mat-icon>
									</button>
								</div>
							</td>
						</ng-container>
	
						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	
						<!-- Row shown when there is no matching data. -->
						<tr class="mat-row" *matNoDataRow>
							<td class="mat-cell" colspan="4">Nenhum registro encontrado para o filtro: "{{input.value}}"</td>
						</tr>
					</table>
					
					<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
				</div>
			</div>
		</div>
		<!--/.col-->
	</div>
</div>